@import "../../constant";
@import "../../common";

.article-management-container {
  @include wrap;

  .publish-article-btn {
    width: 100px;
    margin: $margin-padding-4 0
  }

  .page-container {
    margin: $margin-padding-4 0;
  }

}

/*表格通用样式*/
.rows {
  color: inherit;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  font-size: $font-size-1;
  text-align: center;
}

.table-title {
  @extend .rows;
  width: 409px;
  @include n-ellipsis(1);
  text-align: left;
}

.table-author {
  @extend .rows;
  width: 100px;
}

.table-date {
  @extend .rows;
  width: 150px;
}

.table-checkbox{
  @extend .rows;
  width: 35px;
  line-height: 12px;
}

.table-ups, .table-views, .table-comments, .table-order{
  @extend .rows;
  width: 70px;
}