@import "../../constant";
@import "../../common";

.article-management-container {
  max-width: $admin-main-width;
  margin: 0 auto;

  .article-list-container{

    .article-list-ctrls{
      @include n-clearfix;
      margin-top: 20px;
      padding: 10px;
      border-top: $color-blue 2px solid;

      button{
        background: none;
        border:none;
        color: $color-blue;
        line-height: 19px;
        float:left;
        margin-left: 25px;
      }

    }

  }

}

/*表格通用样式*/
.rows {
  color: inherit;
  padding: 5px 10px;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
}

.table-title {
  @extend .rows;
  width: 339px;
  @include n-ellipsis(1);
  text-align: left;
}

.table-author {
  @extend .rows;
  width: 100px;
}

.table-date {
  @extend .rows;
  width: 150px;
}

.table-checkbox{
  @extend .rows;
  width: 35px;
  line-height: 12px;
}

.table-ups, .table-views, .table-comments, .table-order, .table-ctrl {
  @extend .rows;
  width: 70px;
}