@import "../../constant";
@import "../../common";

.category-management-container {
  @include wrap;

  .add-category-btn {
    width: 100px;
    margin: $margin-padding-4 0
  }

  .page-container {
    margin: $margin-padding-4 0;
  }

}

/*表格通用样式*/
.rows {
  color: inherit;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  font-size: $font-size-1;
  text-align: center;
}

.table-category-name{
  @extend .rows;
  text-align: left;
  width: 952px;
}