@import "../../../asset/scss/constant";
@import "../../../asset/scss/common";

.n-table {

  table {

    width: 100%;
    border-collapse: collapse;

    .n-table-caption {

      color: $color-blue;
      padding: 5px 0;

      .n-table-caption-row {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .n-table-title {
          color: inherit;
        }

        .n-table-more {
          color: inherit;
          cursor: pointer;
        }

      }

    }

    tr {

      &:first-child{
        border-top: $color-blue 2px solid;
      }

      &:hover {
        cursor: pointer;
        color: $color-blue;
      }

      &:nth-child(even) {
        background: $background-color-gray;
      }

      td {
        color: inherit;
        text-align: center;

      }
    }
  }
}