@import "../../../asset/scss/constant";
@import "../../../asset/scss/common";

.breadcrumb-container {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 30px;
  padding: 5px 0;
  margin: 20px auto;

  @include n-bottom-line();

  .breadcrumb-label {
    position: relative;
    padding-left: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 20px;
      background: $color-blue;
    }
  }
}