@import "../../../asset/scss/constant.scss";
@import "../../../asset/scss/common.scss";

$width: 250px;
$input-height: 30px;

.n-literal-input {
  display: flex;
  max-width: 100%;
  width: $width;

  span.icon {
    flex-shrink: 0;
    margin-right: 10px;
    line-height: $input-height;
    background: $background-color-white;
  }

  .n-literal-input-container {
    flex-grow: 1;

    input {
      width: 100%;
      padding: 0 10px;
      height: $input-height;
      font-size: $font-size-1;
      border-radius: $border-radius-1;
      border: $line-color-gray 1px solid;
    }

  }

  .n-input-notice {
    opacity: 0;
    display: block;
    color: $color-red;
    height: 29px;
    padding: 7px 0;
    line-height: 15px;

    @include n-ellipsis(1);

    &.n-active {
      opacity: 1;
    }
  }

}

.n-checkbox-container {

  height: 20px;
  display: inline-block;

  label {
    float: left;
    line-height: 20px;
    margin-left: 10px;
  }

  .n-checkbox {
    float: left;
    width: 20px;
    height: 20px;
    border: $line-color-gray 1px solid;
    position: relative;
    cursor: pointer;
    border-radius: 5px;

    input {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: 10;

      &:checked ~ span {
        opacity: 1;
      }
    }

    .n-checkbox-background {
      border-radius: 3px;
      display: block;
      height: 14px;
      width: 14px;
      margin: 2px;
      opacity: 0;
      background: $color-blue;
    }

  }

}

.n-radio-container {

  height: 20px;
  display: inline-block;

  label {
    float: left;
    line-height: 20px;
    margin-left: 10px;
  }

  .n-radio {
    float: left;
    width: 20px;
    height: 20px;
    border: $line-color-gray 1px solid;
    position: relative;
    cursor: pointer;
    border-radius: 50%;

    input {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: 10;

      &:checked ~ span {
        opacity: 1;
      }
    }

    .n-radio-background {
      border-radius: 50%;
      display: block;
      height: 14px;
      width: 14px;
      margin: 2px;
      opacity: 0;
      background: $color-blue;
    }

  }

}

.n-radio-group-container {

  & > label {
    float: left;
    line-height: 20px;
    margin-right: 50px;
  }

  .n-radio-item-container {
    margin-right: 30px;
    display: inline;

    &:last-child {
      margin: 0;
    }
  }

}