@import "../../../asset/scss/constant.scss";
@import "../../../asset/scss/common.scss";

$width: 250px;
$input-height: 30px;

$checkbox-size:15px;
$radio-size:15px;

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  width: 5px;
  height: $input-height - 10px;
}

.n-literal-input {
  display: flex;
  max-width: 100%;
  width: $width;

  span.icon {
    flex-shrink: 0;
    margin-right: 10px;
    line-height: $input-height;
    background: $background-color-white;
  }

  .n-literal-input-container {
    flex-grow: 1;

    input {
      width: 100%;
      padding: 0 10px;
      height: $input-height;
      font-size: $font-size-1;
      border-radius: $border-radius-1;
      border: $line-color-gray 1px solid;
    }

  }

  .n-input-notice {
    opacity: 0;
    display: block;
    color: $color-red;
    height: 29px;
    padding: 7px 0;
    line-height: 15px;

    @include n-ellipsis(1);

    &.n-active {
      opacity: 1;
    }
  }

}

.n-checkbox-container {

  height: $checkbox-size;
  display: inline-block;

  label {
    float: left;
    line-height: $checkbox-size;
    margin-left: 10px;
  }

  .n-checkbox {
    float: left;
    width: $checkbox-size;
    height: $checkbox-size;
    border: $line-color-gray 1px solid;
    position: relative;
    cursor: pointer;
    border-radius: 3px;

    input {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: 10;

      &:checked ~ span {
        opacity: 1;
      }
    }

    .n-checkbox-background {
      border-radius: 2px;
      display: block;
      height: $checkbox-size - 6px;
      width: $checkbox-size - 6px;
      margin: 2px;
      opacity: 0;
      background: $color-blue;
    }

  }

}

.n-radio-container {

  height: $radio-size;
  display: inline-block;

  label {
    float: left;
    line-height: $radio-size;
    margin-left: 10px;
  }

  .n-radio {
    float: left;
    width: $radio-size;
    height: $radio-size;
    border: $line-color-gray 1px solid;
    position: relative;
    cursor: pointer;
    border-radius: 50%;

    input {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: 10;

      &:checked ~ span {
        opacity: 1;
      }
    }

    .n-radio-background {
      border-radius: 50%;
      display: block;
      height: $radio-size - 6px;
      width: $radio-size - 6px;
      margin: 2px;
      opacity: 0;
      background: $color-blue;
    }

  }

}

.n-radio-group-container {

  & > label {
    float: left;
    line-height: 20px;
    margin-right: 50px;
  }

  .n-radio-item-container {
    margin-right: 30px;
    display: inline;

    &:last-child {
      margin: 0;
    }
  }

}

.n-number-box-container{

  position: relative;

  input{
    width: 100%;
    padding: 0 2px 0 10px;
    height: $input-height;
    font-size: $font-size-1;
    border-radius: $border-radius-1;
    border: $line-color-gray 1px solid;
  }

  .n-number-box-loading{
    top: 0;
    left: 0;
    position: absolute;
    border-radius: $border-radius-1;
    background: rgba(255, 255, 255, .6);
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 3px 10px;
    font-size: $font-size-4;
    display: none;

    &.n-active {
      display: block;
    }

    i {
      display: inline-block;
      color: $font-color-gray;
      font-size: inherit;
      animation: loading 2s linear infinite;
    }
  }

}

//加载动画
@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}