@import "../../constant";
@import "../../common";

.function-set-container {
  @include wrap;

  .set-rows {

    width: 275px;
    margin: 50px auto;

    .set-row {
      margin-bottom: 20px;
    }

  }

}