@import "../../constant";
@import "../../common";

.modify-password-container {
  @include wrap;

  .modify-password-inputs {
    width: 250px;
    margin: 0 auto;
    padding-top: $margin-padding-4;
  }

}