@import "../../constant";

.site-information-container {
  max-width: $admin-main-width;
  margin: 0 auto;

  .modify-password-inputs {
    width: 250px;
    margin: 0 auto;
    padding-top: 30px;
  }

}